@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    line-height: 1.5;
}

:root{
    --sidebar : #111418;
    --highlight : #007BFF;
    --light-highlight : #469efc ;
    /* --highlight : #39FF14;
    --light-highlight : #41ca28; */
    --primary-sec : #212529;
    --back-text : #2C3034;
    --back-text2 : #394046;
    --secondary-sec : #343A40;
    --text : #E3E3D7;
}


/* NAVBAR STYLING START */
nav{
    display: none;
}

nav .upper-nav{
    background-color: var(--sidebar);
    padding: 1rem;
    display: none;
    justify-content: space-between;
    height: 2rem;
}

.nav-left-area{
    color: #DEE3E4;
    font-weight: 900;
    font-size: 1.2rem;
}

.nav-left-area span{
    color:var(--highlight);
}

.nav-right-area{
    align-self: center;
}

.nav-links{
    display: block;
    z-index: 4;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.959);
    left:0;
    right: 0;
    transition: all .3s;
   
}

.nav-links-hide{
    display: none;
    transition: all .3s;
}


.nav-link-inner{
    width: 96%;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: column;
}

.nav-links a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: #DEE3E4;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid rgb(48, 47, 47);
}

/* NAVBAR STLING END */



/* SIDEBAR STYLING STARTS HERE */

.main-wrapper{
    margin-left: 250px;
}

.sidebar{
    padding-top: 1.5rem;
    z-index: 2;
    position: fixed;
    left:0;
    width:250px;
    height: 100%;
    background-color: var(--sidebar);
}

.contents{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

#profile-pic{
    height: 160px;
    width:160px;
    border-radius: 50%;
    border : 8px solid #343A40;
    margin: 10px 0 5px;
}

.contents h3{
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin:5px 0;
}

.contents h3 span{
    color:var(--highlight);
    padding-left: 0;

}

.headings{
    margin-top : 3rem;
    margin-bottom: 4rem;
}

.headings a{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
    display: block;
    align-content: center;
    text-align: center;
    transition: color .1s;
    line-height: 3rem;
    font-size: 1rem;
    font-weight: 500;
}

.sideBar-Active{
    color: var(--highlight);
}

.headings a:hover, .headings a:focus{
    color: var(--highlight);
}

.contact-info{
    text-align: center;
}

.contact-info a,#linkedin,
#website,
#twitter,
#git{
    font-size: 1.1rem;
    text-decoration: none;
    color: #D7D7D7;
    padding-right: .6rem;
    transition: all .3s;
}

#website:hover{
    color:#e72424;
    font-size: 1.3rem;
}
#twitter:hover{
    color:#03A4EC;
    font-size: 1.3rem;
}
#git:hover{
    color:#585858;
    font-size: 1.3rem;
}
#linkedin:hover{
    color:#0073B1;
    font-size: 1.3rem;
}

/* SIDEBAR STYLING END */



/* HOME SECTION STYLING START */

.hero-wrap{
    position: relative;
    overflow: hidden;
}

.hero-mask{
    position: absolute;
    z-index: 1;
    background-color: #111418;
    opacity: .8;
    width: 100%;
    height: 100vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg{
    z-index: 0;
    background: url(./components/images/IMG20191219121623.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: background-image 300ms ease-in 200ms;
}

.hero-content{
    position: absolute;
    top:0;
    z-index: 3;
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:auto 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.hero-heading{
    color: #DEE3E4;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.hero-heading2{
    font-weight: 600;
    font-size: 4.5rem;
    color : #DEE3E4;
}

.hero-subhead{
    font-size: 1.3rem;
    font-weight: 400;
    color: #DEE3E4;
    width:40%;
    margin: 1rem auto;
    
}

.hero-btn{
    width: 10%;
    padding: .7rem 1rem;
    margin: 1.5rem auto;
    border-radius: 50px;
    border : 2px solid var(--highlight);
    text-decoration: none;
    color: var(--highlight);
    transition: background-color 0.5s ;
    font-weight: 700;
}

.hero-btn:hover{
    background-color: var(--highlight);
    color:#fff;
}

/* HOME SECTION STYLING END */


/* ABOUT SECTION STYLING START */
.section2{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-sec);
    min-height : 100vh;
    height: max-content;
    text-align: center;
    color: #D7D7D7;
    padding-top: 0rem;
}
.head-wrapper{
    display: flex;
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
}

.heading{
    width: 100%;
    align-self: center!important;
    position: absolute!important;
    z-index:1;
    font-family: 'Poppins', sans-serif;
    color : #fff;
    font-weight: 500;
    font-size: 2.5rem;

}

.heading .underline{
    position: relative;
    background-color: var(--highlight);
    height : 3px;
    width : 60px;
    margin: auto;
}

.backhead{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: var(--back-text);
    font-weight: 900;
    font-size: calc(1.95rem + 8.4vw)!important;
    z-index: 0;
}

.backhead2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: var(--back-text2);
    font-weight: 900;
    font-size: calc(1.95rem + 8.4vw)!important;
    z-index: 0;
}

.about-subhead-wrapper{
    width:85%;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.about-subhead-left{
    /* flex: 75%; */
    width:65%;
    /* margin: auto; */
    text-align: left;
}

.about-subhead-left h2{
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 0rem;
    margin-bottom: .7rem;
}

.about-subhead-left h2 span{
    color: var(--highlight);
}

.about-subhead-left p{
    line-height: 1.7rem;
    margin-top: .7rem;
    color : #90928E;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* width: 90%; */
    font-size: 1rem;
    font-weight: 400;
}

.about-subhead-left p a{
    text-decoration: none;
    color: var(--highlight);
    transition: all .3s;
}

.about-subhead-left p a:hover{
    color: var(--light-highlight);
}

.about-subhead-right{
    /* flex: 25%; */
    width: 25%;
    text-align: left;
}

.about-subhead-right h3{
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.about-subhead-right p{
    line-height: 1.5rem;
    color : #90928E;
}

.about-subhead-right p a{
    text-decoration: none;
    color: var(--highlight);
    transition: all .3s;
}

.about-subhead-right p a:hover{
    color: var(--light-highlight);
}

/* ABOUT SECTION STYLING END */


/* SKILLS SECTION STYLING START */
.section3{
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-sec);
    min-height : 100vh;
    height: max-content;
    text-align: center;
    color: #D7D7D7;
    padding-top: 0rem;
}

.skill-content{
    padding-bottom: 3rem;
    width:85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.info-card{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width:45%;
    margin-bottom: 1.2rem;
}

.card-icon{
    padding: 1.2rem;
    background-color: #212529;
    color:var(--highlight);
    border-radius: .4rem;
}

.card-content{
    margin-left: 1rem;
    line-height: 1.7rem;
}


.card-content h4{
    margin : 0 0 .5rem 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.card-content p{
    margin-top: 0;
    color : #90928E;
}
/* SKILLS SECTION STYLING END */


/* PROJECTS SECTION STYLING START */
.section4{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-sec);
    min-height : 100vh;
    height: max-content;
    text-align: center;
    color: #D7D7D7;
    padding-top: 0rem;
}

.project-content ul{
    display: flex;
    justify-content: space-between;
    width:60%;
    margin : 0rem auto 2rem;
    padding-left: 0;
}

.project-content ul li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: color .3s ease-in-out;
    padding: 0 0.5rem .5rem;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    cursor: pointer;
    margin: auto;
}

.project-content ul .active{
    color: var(--highlight);
    border-bottom-color: var(--highlight);
}

.project-content ul li:hover{
    color : var(--highlight);
}

.project-info{
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: 3rem auto 0;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.project-card{
    margin-bottom: 1.5rem;
    background-color: #111418;
    border-radius: 5px;
    width: 45%;
    margin: 1rem 1rem;
}

.right-area{
    padding: 3rem;
    text-align: left;
    margin-bottom: 1rem;
    min-height: 12rem;
    height: max-content;
}

.project-head{
    font-weight: 600;
    margin-bottom: .5rem;
    color: #fff;
}

.project-date{
    font-size: .8rem;
    color :  #90928E;
    margin-bottom: 1.5rem;
}

.project-desc{
    margin-bottom: 1.2rem;
    min-height: 7rem;
}

.project-link1{
    margin-top: 1rem;
}

.right-area a{
    color : var(--highlight);
    text-decoration: none;
    transition: all .3s;
}

.right-area a:hover{
    color : var(--light-highlight);
}

/* PROJECT SECTION STYLING END */


/* BLOG SECTION STYLING START */
.section5{
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-sec);
    min-height : 100vh;
    height: max-content;
    text-align: center;
    color: #D7D7D7;
    padding-top: 0rem;
}

.blogs-content{
    padding-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    width:85%;
    margin: auto;
}

.blogs-box{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly ;
}

.one-blog{
    flex: 50%;
    padding: 3rem;
    background-color: #212529;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    min-height: 13rem;
    height: max-content;
}

.blog-head{
    font-weight: 600;
    color: white;
    margin-bottom: .5rem;

}

.blog-date{
    font-size: .8rem;
    color: #90928E;
    margin-bottom: 1.5rem;
}

.blog-desc{
    /* width: 95%; */
    margin-bottom: 1.2rem;
    min-height: 7rem;
}

.one-blog a{
    text-decoration: none;
    color:var(--highlight);
    transition: all .3s;
}

.one-blog a:hover{
    color :  var(--light-highlight);
}

.blog-selector{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:10%;
    margin: 3rem auto 0;
    padding-bottom: 3rem;
}

.circle{
    background-color: #90928E;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.circle:hover{
    background-color: var(--highlight);
}

.circle-active{
    background-color: var(--highlight);
    border-color: #fff;
}

/* BLOGS SECTION STYLING ENDS */


/* CONTACT SECTION STYLING START */
.section6{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-sec);
    min-height : 80vh;
    height: max-content;
    text-align: center;
    color: #D7D7D7;
    padding-top: 0rem;
}

.contact-content{
    padding-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    width:85%;
    margin: auto;
    display: flex;
    line-height: 1.7rem;
    justify-content: space-between;
}

.contact-left-area{
    width:23%;
}

.contact-left-area h4{
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.contact-left-area p{
    /* width: 80%; */
    color: #90928E;
}

.contact-contact-info a{
    padding-right : .5rem;
}

.contact-right-area{
    width: 75%;
}

.contact-right-area h4{
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.contact-right-area div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-first-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-input, .mail-input{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--secondary-sec);
    padding : 1rem;
    border-radius: 2px;
    width:44%;
    margin-bottom: 1rem;
    outline: none;
    border: 0;
}

.text-input{
    display: block;
    width: 100%;
    background-color: var(--secondary-sec);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline: none;
    border: 0;
    border-radius: 2px;
    margin-bottom: 1rem;
    height: 5rem;
    color: white;
}

.center{
    width: 100%;
    text-align: center !important;
}

.contact-right-area button{
    outline: none;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 10rem;
    border: none;
    background-color: var(--highlight);
    color : #fff;
    cursor: pointer;
}

/* CONTACT SECTION STYLING END */

/* FOOTER */
footer{
    height: 10rem;
    background-color: var(--secondary-sec);
}

footer div{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top:45%;
    width: 85%;
    margin: auto;
    color: #D7D7D7;
}

footer div a{
    text-decoration: none;
    color : var(--highlight);
}

/* FOOTER SECTION END */


/* RESPONSIVITY */
@media screen and (max-width : 1200px){
    .name-input, .mail-input{
        width : 100%
    }
}

@media screen and (max-width : 1020px){
    .project-info{
        width:90%;
    }
   
    .blogs-content{
        width: 90%;
    }
}

@media screen and (max-width : 990px){

    nav{
        display: block;
    }

    nav .upper-nav{
        display: flex;
        position: fixed;
        top : 0;
        right: 0;
        left: 0;
        z-index: 5;
        /* width: 100%; */
    }

    .main-wrapper{
        margin: 3.8rem 0 0;
    }
    
    .sidebar{
        display: none;
    }

    footer div{
        text-align: center;
    }

    .about-subhead-wrapper{
        flex-direction: column;
    }

    .about-subhead-left{
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .about-subhead-left h2{
        font-size: 1.75rem;
    }

    .about-subhead-right{
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width : 760px){

    .hero-heading2{
        font-size: 3.5rem;
    }

    .hero-subhead{
        font-size: 1rem;
        width: 70%;
    }

    .hero-btn{
        width:15%
    }

    .skill-content{
        flex-direction: column;
    }

    .heading{
        font-size: 4vw;
    }

    .info-card{
        width: 90%;
        margin: 0 auto 1.5rem;
    }

    .project-info{
        flex-direction: column;
        width:80%;
    }
    
    .project-card{
        width: 100%;
        margin: 0 auto 2rem;
    }

    .project-desc{
        min-height: max-content;
    }

    .project-content ul{
        width: 90%;
    }

    .project-content ul li{
        font-size: .9rem;
    }

    .right-area{
        min-height: 10rem;
    }

    .blogs-box{
        flex-direction: column;
    }

    .one-blog{
        margin-bottom: 1.5rem;
    }

    .blog-desc{
        min-height: max-content;
    }

    .blog-selector{
        width: 20%;
    }
    .contact-content{
        flex-direction: column-reverse;
        text-align: center;
        width: 70%;
    }

    .contact-left-area, .contact-right-area{
        width: 100%;
    }

    .contact-contact-info a{
        padding :0 .5rem;
    }
}

@media screen and (max-width:425px){
    .nav-left-area{
        font-size: 1rem;
        align-self: center;

    }

    #linkedin1,
    #website1,
    #twitter1,
    #git1{
        display: none;
    }

    #ham{
        font-size: 1.1rem;
    }

    .hero-heading2{
        font-size: 2.3rem;
    }

    .hero-btn{
        width: 35%;
    }

    .heading{
        font-size: 1.3rem;
    }


    .about-subhead-wrapper{
        width: 90%;
    }

    .about-subhead-left h2{
        font-size: 1.3rem;
    }

    .skill-content{
        width: 90%;
    }

    .info-card{
        width: 100%;
    }

    .card-icon{
        padding: 1rem;
    }

    .project-content ul{
        width: 95%;
    }

    .project-content ul li{
        font-size: .7rem;
    }

    .right-area{
        padding: 2rem;
    }

    .one-blog{
        padding: 2rem;
    }

    .blog-selector{
        width: 40%;
    }
}